__pycache__/
sim_build/
runs/
backups/
drc_run_*
lvs_run_*
*.vvp
*.fst
*.a
*.o
*.elf
*.bin
*.hex

**/fpga/*/*.json
**/fpga/*/*.v
**/fpga/*/*.asc
**/fpga/*/*.config
**/fpga/*/*.frames
**/fpga/*/*.fasm
**/fpga/*/*.fs
**/fpga/*/*.bit
**/fpga/*/*.svg
**/fpga/*/*.dot

IHP-Open-PDK/
**/flow/final/
